
//Si erreur dans le formulaire
.red-container::placeholder  {
    color: red;
}
.red-container{
    border:2px solid red !important;
}
.btn_connexion {
    background-color: #231B4F;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.btn_inscription {
    background-color: #C5C2D9;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}
